<h1>Admin-Products</h1>
<div class="well well-sm">
    <form class="forn-inline" {{action "addNewProduct" newProduct on='submit'}}>
        <div class="form-group">
            <label for="new-name">New Product</label>
            {{input value=newProduct.name type="text" class="form-control" id="new-name" placeholder="Product name"}}
        </div>
        <div class="form-group">
            <label for="sku">New Product</label>
            {{input value=newProduct.sku type="text" class="form-control" id="new-sku" placeholder="Product name"}}
        </div>
        <div class="form-group">
            <label for="unit-price">New Product</label>
            {{input value=newProduct.unitPrice type="text" class="form-control" id="new-unitPrice" placeholder="Product name"}}
        </div>
        <button type="submit" class="btn btn-default">Add</button>
    </form>
</div>

{{#if newProduct.error}}
    Error!
    {{#each newProduct.errors as |error|}}
        {{error}}
    {{/each}}
{{/if}}

<table class="table table-striped">
    <caption>List of Products</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>SKU</th>
            <th>Unit Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |product|}}
            {{#unless product.isNew}}
                <tr>
                    <td>{{product.id}}</td>
                    <td>
                        {{#if product.isEditing}}
                            {{input value=product.name}}
                            {{else}}
                            {{product.name}}
                        {{/if}}    
                    </td>
                    <td>
                        {{#if product.isEditing}}
                            {{input value=product.sku}}
                            
                            {{else}}
                            {{product.sku}}
                        {{/if}}    
                    </td>
                    <td>
                        {{#if product.isEditing}}
                            {{input value=product.unitPrice}}
                            {{else}}
                            {{product.unitPrice}}
                        {{/if}}    
                    </td>
                    <td>
                        {{#if product.isEditing}}
                            <button class="btn btn-xs btn-danger" {{action "updateProduct" product}}>Save</button>
                            <button class="btn btn-xs btn-success" {{action "cancelEditing" product}}>Cancel</button>
                            {{else}}
                            <button class="btn btn-xs btn-danger" {{action "deleteProduct" product}}>Del</button>
                            <button class="btn btn-xs btn-success" {{action "editProduct" product}}>Edit</button>
                        {{/if}}
                    </td>
                </tr>
            {{/unless}}
        {{/each}}
    </tbody>
</table>
{{outlet}}